/* Font  Manrope (300,400,500,600,700,800) weight added*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Manrope', sans-serif;
    background-color: #1D1D1D;
}

ul{
    list-style: none;
    padding: 0;
}
a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
/* Common CSS End */
